.main-cover {
  width: 100%;
  height: 30%;
  text-align: center;
}

.qna-cover {
  display: block;
  width: 100%;
  height: 30%;
  text-align: center;
}
.qna-out {
  display: none;
}
.result-cover {
  display: none;
}
.main-out {
  transition: 1s;
  display: none;
}
